body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.search-box {
  position: relative;
  border: 2px solid #0a0a0a;
  border-radius: 4px 0px 0px 4px;

}

.input-text {
  border: none;
  width: 500px;
  height: 40px;
  padding: 0 15px;
  outline: none;
}

.search-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #333;
  color: white;
  padding: 0 15px;
  letter-spacing: 1.2px;
  border: none;
  cursor: pointer;
}

.bg-gray{
  background-color: #f7f8fa;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  
  align-items: center;
  justify-content: center;
  /* background: #f7f8fa; */
}
.product {
  background: #fff;
  margin: 10px;
}
.single-product {
  
  transition: 0.6s;
  height: 500px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid drop-shadow(0 3px 5px rgba(0,0,0,0.7));
  
}
.product-image {
  width: 250px;
  height: 200px;
  padding: 10px;
  background: #fff;
  text-align: center;
  
}
.cart {
  width: 350px;
  
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
